<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Aşı Grubum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <meta name="description"
          content="T.C. Sağlık Bakanlığı verilerine göre tahmini aşı sıra ve grup öğrenme sitesi">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@ensarkurrt"/>
    <meta name="twitter:creator" content="@ensarkurrt"/>

    <meta name="twitter:title" property="twitter:title"
          content="1. Aşı Grubundayım!">
    <meta name="twitter:description" property="twitter:description"
          content="T.C. Sağlık Bakanlığı verilerine göre tahmini aşı sıra ve grup öğrenme sitesi">
    <meta name="twitter:image:alt" property="twitter:image:alt"
          content="1. Aşı Grubundayım!">

    <meta property="og:url" content="https://asigrubum.com/"/>
    <meta property="og:title" content="1. Aşı Grubundayım!"/>
    <meta property="og:description"
          content="T.C. Sağlık Bakanlığı verilerine göre tahmini aşı sıra ve grup öğrenme sitesi"/>
</head>

<body>
<div class="wrapper" id="app">
    <div class="poll-style-three-content ">
        <!--<div class="poll-style-three-img float-left">
            <img src="assets/img/vp.png" alt="">
        </div>-->


        <div class="poll-style-three-text float-left" v-if="agePage">
            <h2>Hangi Aşı Grubundayım ?</h2>
            <h3>Yaş grubunuz hangisi ?</h3>
            <div class="poll-item-selector">
                <form action="#">
                    <ul v-for="age in ageGroup">
                        <li>
                            <label>
                                <span class="exp-label">{{age}}</span>
                                <input type="radio" name="polling" v-bind:value="ageGroup.findIndex(item=>item===age)"
                                       class="exp-option-box"
                                       v-bind:checked="ageGroup.findIndex(item=>item===age) === 0"
                                       v-on:click="setAge(ageGroup.findIndex(item=>item===age))">
                                <span class="checkmark-border"></span>
                            </label>
                        </li>
                    </ul>
                    <div class="poll-btn-pair">
                        <button type="button" @click="changePage(1)">İleri</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="poll-style-three-text float-left" v-else-if="jobPage">
            <h2>Hangi Aşı Grubundayım ?</h2>
            <h3>Mesleğiniz nedir ?</h3>
            <div class="poll-item-selector">
                <form action="#">
                    <ul v-for="job in jobGroup">
                        <li>
                            <label>
                                <span class="exp-label">{{job}}</span>
                                <input type="radio" name="polling" v-bind:value="jobGroup.findIndex(item=>item===job)"
                                       class="exp-option-box"
                                       v-bind:checked="jobGroup.findIndex(item=>item===job) === 0"
                                       v-on:click="setJob(jobGroup.findIndex(item=>item===job))">
                                <span class="checkmark-border"></span>
                            </label>
                        </li>
                    </ul>
                    <div class="poll-btn-pair">
                        <button type="button" @click="changePage(0)">Geri</button>
                        <button type="button" @click="changePage(2)">İleri</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="poll-style-three-text float-left" v-else-if="illnessPage">
            <h2>Hangi Aşı Grubundayım ?</h2>
            <h3>Son bir adım kaldı...</h3>
            <div class="poll-item-selector">
                <form action="#">
                    <ul>
                        <li>
                            <label>
                                <span class="exp-label">Kronik Hastalığım Var</span>
                                <input type="radio" name="polling" value="true"
                                       class="exp-option-box" v-on:click="setIllness(true)">
                                <span class="checkmark-border"></span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="exp-label">Kronik Hastalığım Yok</span>
                                <input type="radio" name="polling" value="false"
                                       class="exp-option-box" checked v-on:click="setIllness(false)">
                                <span class="checkmark-border"></span>
                            </label>
                        </li>
                    </ul>
                    <div class="poll-btn-pair">
                        <button type="button" @click="calculate"> Sonuçları Göster</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="poll-style-three-text float-left" v-else-if="resultPage">
            <h2>Hangi Aşı Grubundayım ?</h2>
            <h3>İşte Sonuçlar...</h3>
            <div class="poll-item-selector">
                <form action="#">
                    <ul>
                        <li>
                            <label>
                                <span class="exp-label"> {{resultGroup ? resultStage + '. aşı grubunda ' + resultGroup + ' sırasındasın.' : resultStage + '. aşı grubundasın'
                                    }}</span>
                            </label>
                        </li>
                    </ul>
                    <div class="poll-btn-pair">
                        <button type="button" @click="redirectToTweet">Paylaş</button>
                        <button type="button" @click="changePage(0)"> Tekrarla</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<!-- /wrapper -->
<script>

    var app = new Vue({
        el: '#app',
        data: {
            age: 0,
            job: 0,
            isHaveIllness: false,
            url: null,
            resultStage: null,
            resultGroup: null,
            ageGroup: ['18 yaş altı', '18 - 29 yaş arası', '30 - 39 yaş arası', '40 - 49 yaş arası', '50 - 54 yaş arası', '55 - 59 yaş arası', '60 - 64 yaş arası', '65 - 69 yaş arası', '70 - 74 yaş arası', '75 - 79 yaş arası', '80 - 84 yaş arası', '85 yaş ve üzeri'],
            jobGroup: ['Sağlık Çalışanı', 'Diş Hekimi', 'Eczacı', 'Tıp Öğrencisi', 'Diş Hekimliği Öğrencisi', 'Bakım Evi Çalışanı', 'Milli Savunma Bakanlığı', 'İçişleri Bakanlığı', 'Kritik Görevlerde Çalışan', 'Zabıta, Özel Güvenlik', 'Adalet Bakanlığı', 'Cezaevlerinde Çalışan', 'Eğitim Sektörü', 'Gıda Sektörü', ' Taşımacılık Sektörü', 'Diğer'],
            agePage: true,
            jobPage: false,
            illnessPage: false,
            resultPage: false,
        },
        methods: {
            setAge: function (id) {
                this.age = id;
            },
            setJob: function (id) {
                this.job = id;
            },
            setIllness: function (value) {
                this.isHaveIllness = value;
            },
            redirectToTweet: function () {
                window.open(this.url, '_blank');
            },
            changePage: function (pageID) {
                switch (pageID) {
                    case 0:

                        this.agePage = true;
                        this.jobPage = false;
                        this.illnessPage = false;
                        this.resultPage = false;
                        break;
                    case 1:
                        if (this.age == null) {
                            window.alert("Lütfen Boş Alan Bırakmayın");
                            return null;
                        }
                        this.agePage = false;
                        this.jobPage = true;
                        this.illnessPage = false;
                        this.resultPage = false;
                        break;
                    case 2:
                        if (this.job == null) {
                            window.alert("Lütfen Boş Alan Bırakmayın");
                            return null;
                        }
                        this.agePage = false;
                        this.jobPage = false;
                        this.illnessPage = true;
                        this.resultPage = false;
                        break;
                    default:
                        this.agePage = true;
                        this.jobPage = false;
                        this.illnessPage = false;
                        this.resultPage = false;
                        break;
                }
            },
            calculate: function () {
                const age = this.age;
                const job = this.job;
                const isHaveIllness = this.isHaveIllness;

                if (age === 0) {
                    this.resultStage = "4";
                    this.resultGroup = null;
                } else if (job <= 5) {
                    this.resultStage = "1";
                    if (job === 5) {
                        this.resultGroup = "B";
                    } else {
                        this.resultGroup = "A"
                    }
                } else if (age >= 7) {
                    this.resultStage = "1";
                    this.resultGroup = "C" + ((13 - age)).toString();
                } else if (job >= 6 && job <= 14) {
                    this.resultStage = "2";
                    this.resultGroup = "A" + ((job % 6) + 1).toString();
                } else if (age >= 4 && age <= 6) {
                    this.resultStage = "2";
                    this.resultGroup = "B" + ((7 - age)).toString();
                } else if (isHaveIllness) {
                    this.resultStage = "3";
                    this.resultGroup = "A" + ((4 - age)).toString();
                } else {
                    this.resultStage = "3";
                    this.resultGroup = "B" + ((4 - age)).toString();
                }
                if (this.resultGroup !== null) {
                    this.url = 'https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=' + this.resultStage + '.%20aşı%20grubunda%20' + this.resultGroup + '%20sırasındayım&url=https://asigrubum.com';
                } else {
                    this.url = 'https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=' + this.resultStage + '.%20aşı%20grubundayım%20&url=https://asigrubum.com';
                }
                this.agePage = false;
                this.jobPage = false;
                this.illnessPage = false;
                this.resultPage = true;
            }

        }
    });
</script>
</body>

</html>